# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to share with others, so this is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
web/favicon.ico

# Android related
**/android/**/*.gradle
**/android/.gradle
/captures/
/gradlew
/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/**/*.key.properties
**/*.keystore
**/*.jks
# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
# Uncomment the following line if you wish to ignore the .idea directory created
# by Android Studio for your Flutter project.
# However, if you check in your .idea directory, consider adding the following
# files to be ignored as they are generated and can be machine-specific.
# **/android/.idea/workspace.xml
# **/android/.idea/navEditor.xml
# **/android/.idea/assetWizardSettings.xml
# **/.idea/**/contentModel.xml

# iOS related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/_xccheckout
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Podfile.lock

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Coverage reports
coverage/

# Symbols for source code.
symbols/

# Icon generated by the Flutter tool.
flutter_icon.png

# Gradle files
gradle-wrapper.jar
/.gradle

# Exceptions to above rules (uncomment to apply).
#!**/web/favicon.ico
#!**/ios/Runner/Assets.xcassets/AppIcon.appiconset/
#!**/ios/Runner/Assets.xcassets/LaunchImage.imageset/
#!**/ios/Runner/Base.lproj/LaunchScreen.storyboard
#!**/ios/Flutter/AppFrameworkInfo.plist
#!**/ios/Flutter/Debug.xcconfig
#!**/ios/Flutter/Release.xcconfig
